
/* Universal */
* {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #0D1114;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #DDD;
}

h3 {
    text-align: center;
    margin-top: 7rem;
    font-size: 2rem;
}

/* Header */
@media only screen and (max-width: 800px) {
    nav {
        display: none;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #0D1114 1px;
    margin: 0 20px 0 20px;
}

header a {
    display: inline;
    max-width: 10%;
}

.logo {
    max-width: 80%;
    min-width: 100px;
    height: auto;
    padding: 10px 0 0 10px;
    margin: 0;
    flex-basis: 300px;
    transition: transform .2s ease;
}

.logo:hover {
    transform: scale(1.025);
}

.nav {
    display: flex;
    gap: 4rem;
}

.nav-link {
    display: flex;
    align-items: center;
    transition: transform .1s ease;
}

.nav-link:hover {
    transform: scale(1.05);
}

.nav-link:hover a {
    color: #D12229;
}

.nav-link a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    transition: color .01s ease;
}

.btn {
    display: flex;
    border: none;
    border-radius: 16px;
    width: 200px;
    height: 50px;
    background-color: #D12229;
    color: #DDD;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: transform .1s ease;
    font-weight: 600;
}

.btn span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1.03);
}

/* Hero */
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    width: auto;
    background-image: url("../assets/banner.png");
    filter: blur(15px);
    z-index: -1;
}

.hero {
    min-height: 80vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero h1 {
    font-family: Goldman, sans;
    font-size: 5rem;
    color: #DDD;
}

.hero h3 {
    font-family: Goldman, sans;
    font-size: 2rem;
    margin-top: 50px;
    color: #DDD;
}

@media only screen and (max-width: 800px) {
    .hero h1 {
        font-size: 4rem;
    }

    .hero h3 {
        margin-top: 20px;
        font-size: 1.5rem;
    }
}

/* Featured */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    padding: 50px 100px;
    align-items: center;
}

.box {
    width: 100%;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
}

#gallery .box:last-child {
    grid-column: 1 / 3;
    max-width: 50%;
    height: auto;
    justify-self: center;
}

@media only screen and (max-width: 700px) {
    .grid {
        padding: 0;
    }
    .box {
        grid-column: 1 / 3;
    }

    #gallery .box:last-child {
        max-width: 100%;
    }
}

/* Team */
#team h3 {
    margin-top: 3rem;
}

/* Footer */
